@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

:root {
  --background: #f4f5f9;

  --primary: #4e6dce;
  --primary-light: #ebeffa;
  --secondary: #b8ddff;
  --secondary-lighter: #dcf8ff;

  --text-dark: #343434;
  --text-medium: #646464;
  --text-light: #969696;
  --text-lighter: #aaaaaa;

  --bluishGray: #e7e9f2;
  --lightGray: #cccccc;
}

.radix-themes {
  --cursor-button: pointer;
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#logo {
  width: 180;
  height: 100;
}

h1,
h2,
h3 {
  color: var(--text-medium);
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
  font-weight: 500;
}

#sidebar a.inactive:hover {
  background-color: var(--primary-light) !important;
}

.cadastroButton {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--background);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  opacity: 0.8;
  transition: opacity 0.5s, color 0.5s;
}

.cadastroButton:hover {
  background-color: var(--primary);
  opacity: 1;
  color: white;
}

select,
input {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid var(--lightGray);
}

select {
  cursor: pointer;
}

select:disabled {
  background-color: var(--bluishGray);
  border-color: var(--bluishGray);
  color: var(--text-lighter);
  cursor: not-allowed;
}

.rt-AvatarImage {
  opacity: 0.8;
  transition: opacity 0.2s;
}
.rt-AvatarImage:hover {
  opacity: 100;
  cursor: pointer;
}
