@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

:root {
  --background: #f4f5f9;

  --primary: #4e6dce;
  --primary-light: #ebeffa;
  --secondary: #b8ddff;
  --secondary-lighter: #dcf8ff;

  --text-dark: #343434;
  --text-medium: #646464;
  --text-light: #969696;
  --text-lighter: #aaaaaa;

  --bluishGray: #e7e9f2;
  --lightGray: #cccccc;
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--text-medium);
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

#sidebar a.inactive:hover {
  background-color: var(--primary-light) !important;
}

button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--background);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  opacity: 0.8;
  transition: opacity 0.5s, color 0.5s;
}

button:hover {
  background-color: var(--primary);
  opacity: 1;
  color: white;
}
