@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

:root {
  --primary: #4e6dce;
  --primary-light: #ebeffa;
  --secondary: #b8ddff;
  --secondary-lighter: #dcf8ff;

  --text-dark: #343434;
  --text-medium: #646464;
  --text-light: #969696;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--text-medium);
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

#sidebar a.inactive:hover {
  background-color: #ebeffa !important;
}
